.signup
  .signup-header
    .logo-signup
      .signup_head-logo
        =link_to root_path do
          %img.header-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
    .signup-bar
      %ol.signup-lists
        %li.signup-list.active-title
          会員情報
          .list-round-left.active-round
        %li.signup-list
          電話番号認証
          .list-round
        %li.signup-list
          完了
          .list-round-right
    .signup-contents__title
      会員情報入力
    .signup-contents__form
      .signup-content_text
      = form_with model: @user, url: user2_signups_path, class: :form, local: true do |f|
        .form-group
          ニックネーム
          %span.essential 必須
          = f.text_field :nickname, placeholder: '例) メルカリ太郎', class:'input-box'
        .form-group
          メールアドレス
          %span.essential 必須
          = f.text_field :email, placeholder: 'PC・携帯どちらでも可', class:'input-box'
        .form-group
          パスワード
          %span.essential 必須
          = f.text_field :password, placeholder: '7文字以上の半角英数字', class:'input-box'
          %p ※ 英字と数字の両方を含めて設定してください
        %label 本人確認
        %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .form-group
          .form-label お名前(全角)
          %span.essential 必須
          = f.text_field :first_name, placeholder: '例)山田', class:'input-box'
          = f.text_field :last_name, placeholder: '例)彩', class:'input-box'
        .form-group
          %label.form-label お名前(カタカナ)
          %span.essential 必須
          = f.text_field :first_name_kana, placeholder: '例)ヤマダ', class:'input-box'
          = f.text_field :last_name_kana, placeholder: '例)アヤ', class:'input-box'
        .form-group
          .form-label 生年月日
          %span.essential 必須
          .birthday-select
          = f.select :birth_year, [["--","--"],["2020","2020"],["2019","2019"],["2018","2018"],["2017","2017"]]
          %span.form-label_year 年
          = f.select :birth_month, [["--","--"],["1","1"],["2","2"],["3","3"],["4,4"]]
          %span.form-label_month 月
          = f.select :birth_day, [["--","--"],["1","1"],["2","2"],["3","3"]]
          %span.form-label_month 日
          %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .form-group
        .signup-content_text
        「次へ進む」のボタンを押すことにより、
        =link_to root_path do
          利用規約
        %a に同意したものとみなします
        
        .signup_mercari_start
          = f.submit "次へ進む", class: 'next-button'
    = render 'signups/signup_footer'

